.header{
    color: white;
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header > div{
    margin:10px;
}

.punkLogo{
    width:200px;
}

.searchBar{
    background-color: #1c1c1c;
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;

}

.searchIconContainer{
    margin: 10px;
}

.searchInput{
    background-color: transparent;
    border: none;
    width:100%;
    outline:none !important;
    color:#eee;
    font-size: 16px;

}

.headerIems{
    display: flex;
    align-items: center;
    color: #a1a5a1;
}
.headerIems>p{
    margin: 10px;
}

.headerActions{
    display: flex;
    align-items: center;
    color: #a1a5a1;
}

.headerActions>div{
    margin: 10px;
}

.themeSwitchContainer{
    display: flex;
    align-items: center;
    background-color: #1c1e1c;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    object-fit: contain;

}

.themeSwitchContainer>img{
    width: 30px;
    height: 30px;
}

.loginButton{
    background: linear-gradient(to right, #59f9b7, #66feea);
    padding:15px 40px;
    border-radius: 50px;
    color: #1c1c1c;
}
